body {
    height: 98vh;
    background-color: #b5caee;
    padding-left: 9.8%;
  }
  h1
  {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:#ffffff; 
    font-variant: small-caps;
    text-decoration: underline;
    font-size : 70px;
    padding-bottom: 25px;
    font-style: italic;
    text-align: center;
    padding-right: 5%;
  }
 div{
     background-color: #b5caee93;
     text-align: left;
 }
 h2{
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;
     font-variant: small-caps;
     text-decoration: none;
     font-size: 40px;
     text-align: left;
}
p{
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-decoration: wavy;
}
span{
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgba(0, 0, 0, 0.562);
}
footer{
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}